<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand px-3 text-white" style="font-weight: 700;">TODOS LIST</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " style="font-weight: 500;" aria-current="page" routerLink='/'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-weight: 500;" routerLink='/about'>Link</a>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">

  <h1 class="text-center mt-4 mb-4">TODO LIST BY MADDY</h1>

  <app-todos></app-todos>
  <!-- <router-outlet></router-outlet> -->

</div>
