<h5 class="mb-4 mb-4">ADD TODOS</h5>
<form (ngSubmit)="onSubmit()">
  <div class="container d-flex justify-content-center align-items-center w-75 mb-4">

    <div class="input-group">
      <span class="input-group-text">Enter Title & Description</span>
      <input type="text" aria-label="Enter Title" [(ngModel)] ="title" class="form-control" placeholder="Enter Title" id="title" name="title">
      <input type="text" aria-label="Enter Description" [(ngModel)] ="desc" class="form-control" placeholder="Enter Description" id="desc" name="desc">
      <button class="btn btn-outline-dark" type="submit" id="">ADD</button>
    </div>

  </div>
</form>
